/* Layout geral*/
body {
  background: #0d0d0d;
  color: #e6e6e6;
  font-family: "Consolas", monospace;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: auto;
  padding-top: 20px;
}

header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1f1f1f;
  border: 3px solid #ff4444;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #ff4444;
}

.subtitle {
  color: #aaaaaa;
  font-size: 14px;
}

.navbar {
  display: flex;
  gap: 10px;
  margin: 10px 0 20px;
}

.navbar a {
  background: #1a1a1a;
  border: 1px solid #333;
  color: #e6e6e6;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background: #ff4444;
  border-color: #ff4444;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.panel {
  flex: 2;
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #333;
}

.panel.small {
  flex: 1;
}

/* Componentes*/
.level-title {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ff4444;
}

.console {
  background: #000;
  color: #00ff00;
  padding: 10px;
  height: 120px;
  overflow-y: auto;
  border-radius: 6px;
  border: 1px solid #333;
  margin-bottom: 15px;
  font-size: 14px;
}

.input-row {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
}

button {
  padding: 10px 15px;
  background: #ff4444;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ff2222;
}

.manual li {
  margin-bottom: 5px;
}

.story {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.codigo-secreto {
  margin-top: 15px;
  font-family: "Consolas", monospace;
  font-size: 15px;
  color: #ffdd55;
}

footer {
  text-align: center;
  color: #555;
  margin-top: 20px;
  padding-bottom: 20px;
}
 